.prime-img {
  width: 100%;
  height: 300px;
  background-size: cover;
}
.prime-container {
  background-color: #000000;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.movie-text {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
}
